/* You can add global styles to this file, and also import other style files */
body {
    background: #424242;
    color: #fff;
}
a {
    color: #03A9F4;
}
.navbar-fixed-left {
  width: auto;
  position: fixed;
  border-radius: 0;
  padding: 10px;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
@font-face {
    font-family: Raleway;
    src: url("./public/fonts/Raleway-Light.ttf") format('truetype');
}
@font-face {
    font-family: Crimson;
    src: url("./public/fonts/Crimson-Roman.woff") format('woff');
}
