<div *ngIf="articles" class="mind">
    <div class="go__top" (click)="scrollTo()">^</div>
    <div class="content" [class.inverse]="inverse">
      <article>
        <header>
          <h1>
            Ignorantes Populus
          </h1>
        </header>
        <aside>
          <h4 *ngFor="let header of articleHeaders; let index = index"
              (click)="selectArticle(index)">
            <span *ngIf="header.en === selectedArticle">&bull; </span>
            {{header[languageService.language]}}
            <span *ngIf="header.en === selectedArticle"> &bull;</span>
          </h4>
          <div class="inverse-button" (click)="selectInverse()">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="adjust" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-adjust fa-w-16"><path fill="currentColor" d="M8 256c0 136.966 111.033 248 248 248s248-111.034 248-248S392.966 8 256 8 8 119.033 8 256zm248 184V72c101.705 0 184 82.311 184 184 0 101.705-82.311 184-184 184z" class=""></path></svg>
          </div>
        </aside>
        <section *ngIf="selectedArticle">
          <ng-container *ngIf="articles[selectedArticleIndex][languageService.language].text; else message">
            <p [innerHTML]="articles[selectedArticleIndex][languageService.language].text">
            </p>
            <div class="information">
              {{ articles[selectedArticleIndex][languageService.language].information }}
            </div>
          </ng-container>
          <ng-template #message>
            <div class="message">
              Article doesn't exists in English
            </div>
          </ng-template>
        </section>
      </article>
    </div>

    <div class="select__language">
        <a class="translate__button" (click)="languageService.switchLanguage()">
          {{"language" | localize}}
        </a>
    </div>
</div>
